body {
    background-image: url(../images/bg.jpg);
}

table.main {
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

table.sub {
    text-align: center;
}

table.foot {
    width: 100%;
    background-color: #0a6fa3;
}

img.banner {
    width: 100%;
}

h1.subject {
    color: blue;
    text-align: center;
}

ul {
    list-style-type: none;
}