.product {
    width: 100%;
}

ul.menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
   
    z-index: 999;
    transition: left 1s;
}

.show-nav {
    display: block;
}

ul.menu > li {
    border-right: none;
}